.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid rgb(228, 228, 228);
  z-index: 100;
  opacity: 0.98;
}

.header img:hover {
  cursor: pointer;
}

.header button:hover {
  cursor: pointer;
}

.left-section {
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  padding: 8px;
  background-color: #fff;
  margin: 0px 16px;
  border-radius: 50%;
}

.hamburger-menu:active {
  background-color: rgb(236, 236, 236);
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
  max-width: 500px;
  margin-left: 70px;
  margin-right: 30px;
  flex: 1;
}

.search-bar {
  flex: 1;
  height: 35px;
  border: 1px solid gray;
  border: 1px solid #cccccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-size: 16px;
  padding-left: 10px;
}

.search-bar {
  outline: none;
}

.search-btn {
  height: 39px;
  width: 66px;
  border: 1px solid #cccccc;
  margin-left: -1px;
  margin-right: 8px;
  background-color: #f7f7f7;
}

.search-btn,
.voice-btn,
.upload-container,
.youtube-app-container,
.notify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-btn .tooltip,
.voice-btn .tooltip,
.upload-container .tooltip,
.youtube-app-container .tooltip,
.notify-container .tooltip {
  position: absolute;
  background-color: gray;
  color: #fff;
  font-size: 13px;
  padding: 8px 12px;
  border-radius: 2px;
  bottom: -50px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}
.search-btn:hover .tooltip,
.voice-btn:hover .tooltip,
.upload-container:hover .tooltip,
.youtube-app-container:hover .tooltip,
.notify-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}

.voice-btn {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  border: 1px solid #fff;
  background-color: rgb(245, 245, 245);
}

.voice-icon {
  height: 24px;
  /* margin-top: 4px; */
}

.right-section {
  /* background-color: beige; */
  width: 180px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

/* .right-section img:hover {
  cursor: pointer;
} */

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.current-user {
  height: 32px;
  border-radius: 16px;
}

.icon-notify-container {
  position: relative;
}

.notify-count {
  position: absolute;
  font-size: 12px;
  padding: 2px 6px;
  background-color: #c40001;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  bottom: 12px;
  left: 12px;
  border: 1px solid #fff;
}
