html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 130px 20px 0px 96px;
  background-color: rgb(248, 248, 248);
}

p {
  margin: 0;
}

.image-content {
  width: 100%;
  margin-bottom: 10px;
}

.video-preview:hover {
  cursor: pointer;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 1200px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 880px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

.video-info-grid {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
}

.video-author,
.video-status {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-top: 10px;
  font-weight: 500;
}

.video-status {
  margin-top: 5px;
}

.channel-picture {
  width: 40px;
  border-radius: 50px;
  margin-right: 10px;
}

.thumbnail-row {
  position: relative;
}

.time-video {
  position: absolute;
  font-size: 12px;
  padding: 3px;
  border-radius: 2px;
  font-weight: 500;
  right: 5px;
  bottom: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.profile-picture {
  position: relative;
  display: inline-block;
}

.channel-tooltip {
  background-color: white;
  width: 200px;
  padding: 12px 12px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  position: absolute;
  top: 55px;
  z-index: 300;

  opacity: 0;
  pointer-events: none;

  display: flex;
  align-items: center;
  transition: opacity 0.15s;
}

.title-hover {
  position: absolute;
  font-size: 12px;
  padding: 5px;
  border-radius: 2px;
  font-weight: 500;
  right: 5px;
  opacity: 0;
  bottom: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
}

.thumbnail-row:hover .title-hover {
  opacity: 1;
}

.thumbnail-row:hover .time-video {
  opacity: 0;
}

.profile-picture:hover .channel-tooltip {
  opacity: 1;
}

.channel-tooltip-picture {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  margin-right: 8px;
}

.channel-tooltip-name {
  font-family: Roboto, Arial;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

.channel-tooltip-stats {
  font-family: Roboto, Arial;
  color: rgb(96, 96, 96);
  font-size: 14px;
}

.opacity-0 {
  visibility: hidden;
}

.contry-name {
  padding: 0 0 16px 5px;
  font-size: 10px;
  color: #606060;
}
